<!--begin header nav-->
<section class="header_nav">
    <div class="container">
        <div class="row">
            <ul class="d-flex justify-content-center m-0 p-0 w-100">
                <li class="active">
                    <a href="dashboard.html">Dashboard</a>
                </li>
                <li>
                    <a href="billing.html">Billng</a>
                </li>
                <li>
                    <a href="how_to_use.html">How to use</a>
                </li>
                <li>
                    <a href="rewards.html">Rewards</a>
                </li>
                <li>
                    <a href="support.html">Support</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--end header nav-->
<!--begin dashboard-->
<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="box plan_details b-b">
                    <div class="plan_details__top d-flex justify-content-between align-items-center n b-b">
                        <p class="font_20 mb-0 font_20 color_d_grey font-weight-600">Plan Details</p>
                        <span class="plan_details__name">
                            <img src="img/icon_limevpn_basic.svg" alt="Icon" />
                            LimeVPN Basic
                        </span>
                    </div>
                    <ul class="plan_details__list m-0">
                        <li class="b-b">
                            <p><b>VPN user name</b></p>
                            <p>alfa01234</p>
                        </li>
                        <li class="b-b">
                            <p><b>VPN Password</b></p>
                            <p>**********</p>
                        </li>
                        <li class="b-b">
                            <p><b>Devices:</b></p>
                            <p>0 of 5 available Devices</p>
                        </li>
                        <li>
                            <p><b>Renewal Date:</b></p>
                            <p>August 15, 2019</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="box plan_graph b-b">
                    <div class="plan_graph__top d-flex justify-content-between b-b">
                        <p class="font_20 mb-0 font_20 color_d_grey font-weight-600">Usage for the last 30 days</p>
                        <a class="font_18 color_blue font-weight-500" href="#/">Detailed Usage</a>
                    </div>
                    <canvas id="myChart" width="100%" height="350"></canvas>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="box plan_announcement plan_graph b-b">
                    <div class="plan_announcement__top d-flex justify-content-between b-b">
                        <p class="font_20 mb-0 font_20 color_d_grey font-weight-600">Announcement’s</p>
                    </div>
                    <form class="plan_announcement__checkboxes">
                        <div class="form-check pl-0">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                <p><b>Lorem ipsum dolor sit amet,</b> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                <p><b>Lorem ipsum dolor sit amet,</b> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                <p><b>Lorem ipsum dolor sit amet,</b> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                <p><b>Lorem ipsum dolor sit amet,</b> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                            </label>
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                <p><b>Lorem ipsum dolor sit amet,</b> consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="box plan_how plan_graph b-b">
                    <div class="plan_how__top d-flex justify-content-between b-b">
                        <p class="font_20 mb-0 font_20 color_d_grey font-weight-600">How to use <span>( tutorials and Download)</span></p>
                    </div>
                    <div class="plan_how__list d-flex justify-content-between">
                        <ul class="p-0 m-0 text-center">
                            <h3 class="title text-center font_18">Desktop</h3>
                            <li>
                                <a href="#/"><img src="img/icon_windows.svg" alt="Icon" /></a>
                            </li>
                            <li>
                                <a href="#/"><img src="img/icon_macos.svg" alt="Icon" /></a>
                            </li>
                            <li>
                                <a href="#/"><img src="img/icon_penguin.svg" alt="Icon" /></a>
                            </li>
                        </ul>
                        <ul class="p-0 m-0 text-center">
                            <h3 class="title text-center font_18">Mobile</h3>
                            <li>
                                <a href="#/"><img src="img/icon_ios.svg" alt="Icon" /></a>
                            </li>
                            <li>
                                <a href="#/"><img src="img/icon_android.svg" alt="Icon" /></a>
                            </li>
                        </ul>
                        <ul class="p-0 m-0 text-center">
                            <h3 class="title text-center font_18">Devices / Browser</h3>
                            <li>
                                <a href="#/"><img src="img/icon_chrome.svg" alt="Icon" /></a>
                            </li>
                            <li>
                                <a href="#/"><img src="img/icon_vpn.svg" alt="Icon" /></a>
                            </li>
                            <li>
                                <a href="#/"><img src="img/icon_playstation.svg" alt="Icon" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end dashboard-->
<!--begin modals-->
<div class="modal bd-example-modal-lg modal_tutorial" id="tutorial" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between">
                <h5 class="modal-title">Learn how to use Lime Vpn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">Skip</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="445" src="https://www.youtube.com/embed/C0DPdy98e4c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>A video tutorial to help you understand how to use Lime VPN</p>
            </div>

        </div>
    </div>
</div>
<!--end modals-->