<!--begin header-->
<div class="header__notification">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 col-lg-8">
                <p class="font-weight-600">Your trial will expire soon. Upgrade your plan for a better internet experience...</p>
            </div>
            <div class="col-12 col-md-4 col-lg-4 d-flex align-items-center justify-content-end">
                <a class="btn_white" href="plans.html">Upgrade Now</a>
                <a class="notification_close" href="#/"><img src="img/icon_close.svg" alt="Icon" /></a>
            </div>
        </div>
    </div>
</div>
<header class="header">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <div class="col-6 col-md-6 header__logo">
                <a href="/">
                    <img src="img/logo_white.svg" alt="Logo" />
                </a>
            </div>
            <div class="col-6 col-md-6 header__info d-flex align-items-center justify-content-end">
                <a class="btn_white btn_upgrade" href="#/">
                    <img src="img/icon_upgrade.svg" alt="Icon" />
                    Upgrade Now
                </a>
                <div class="dropdown dropdown_notification show">
                    <a class="btn_notification dropdown-toggle" href="#" role="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="img/icon_notification.svg" alt="Icon" />
                        <span>2</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="notification">
                       <h3 class="title">Notifications</h3>
                        <ul class="p-0 m-0">
                            <li>
                                <img class="icon_notification" src="img/icon_botification_black.svg" alt="Icon" />
                                <p><b>Lorem ipsum dolor sit amet, consectetuer</b> adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim</p>
                                <a class="icon_close" href="#/"><img src="img/icon_close_notification.svg" alt="Icon" /></a>
                            </li>
                            <li>
                                <img class="icon_notification" src="img/icon_botification_black.svg" alt="Icon" />
                                <p><b>Lorem ipsum dolor sit amet, consectetuer</b> adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim</p>
                                <a class="icon_close" href="#/"><img src="img/icon_close_notification.svg" alt="Icon" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown dropdown_profile show">
                    <a class="btn_profile btn btn-secondary dropdown-toggle" href="#" role="button" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello, alpha@yhgh.com
                    </a>
                    <div class="dropdown-menu" aria-labelledby="profile">
                        <a class="dropdown-item" href="profile.html">
                            <img src="img/icon_profile.svg" alt="Icon" />
                            <img src="img/icon_profile_blue.svg" alt="Icon" />
                            Profile
                        </a>
                        <a class="dropdown-item" href="submit_feedback.html">
                            <img src="img/icon_feedback.svg" alt="Icon" />
                            <img src="img/icon_feedback_blue.svg" alt="Icon" />
                            Submit feedback
                        </a>
                        <a class="dropdown-item" href="network_status.html">
                            <img src="img/icon_network.svg" alt="Icon" />
                            <img src="img/icon_network_blue.svg" alt="Icon" />
                            Network status
                        </a>
                        <a class="dropdown-item" href="tutorials.html">
                            <img src="img/icon_tutorials.svg" alt="Icon" />
                            <img src="img/icon_tutorials_blue.svg" alt="Icon" />
                            Tutorials
                        </a>
                        <a class="dropdown-item" href="#">
                            <img src="img/icon_signout.svg" alt="Icon" />
                            <img src="img/icon_signout_blue.svg" alt="Icon" />
                            Signout
                        </a>
                    </div>
                </div>
                <div class="header__menu d-block d-md-block d-lg-none">
                    <a href="#" role="button" id="mob_nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="img/icon_hamburger.svg" alt="Icon" />
                        <img src="img/icon_hamburger_open.svg" alt="Icon" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="mob_nav">
                        <a class="dropdown-item" href="dashboard.html">
                            <img src="img/icon_dashboard.svg" alt="Icon" />
                            <img src="img/icon_dashboard_blue.svg" alt="Icon" />
                            Dashboard
                        </a>
                        <a class="dropdown-item" href="how_to_use.html">
                            <img src="img/icon_htu.svg" alt="Icon" />
                            <img src="img/icon_htu_blue.svg" alt="Icon" />
                            How to use
                        </a>
                        <a class="dropdown-item" href="support.html">
                            <img src="img/icon_support.svg" alt="Icon" />
                            <img src="img/icon_support_blue.svg" alt="Icon" />
                            Support
                        </a>
                        <a class="dropdown-item" href="billing.html">
                            <img src="img/icon_billing.svg" alt="Icon" />
                            <img src="img/icon_billing_blue.svg" alt="Icon" />
                            Billing
                        </a>
                        <a class="dropdown-item" href="rewards.html">
                            <img src="img/icon_rewards.svg" alt="Icon" />
                            <img src="img/icon_rewards_blue.svg" alt="Icon" />
                            Rewards
                        </a>
                        <a class="dropdown-item" href="profile.html">
                            <img src="img/icon_profile.svg" alt="Icon" />
                            <img src="img/icon_profile_blue.svg" alt="Icon" />
                            Profile
                        </a>
                        <a class="dropdown-item" href="submit_feedback.html">
                            <img src="img/icon_feedback.svg" alt="Icon" />
                            <img src="img/icon_feedback_blue.svg" alt="Icon" />
                            Submit feedback
                        </a>
                        <a class="dropdown-item" href="network_status.html">
                            <img src="img/icon_network.svg" alt="Icon" />
                            <img src="img/icon_network_blue.svg" alt="Icon" />
                            Network status
                        </a>
                        <a class="dropdown-item" href="tutorials.html">
                            <img src="img/icon_tutorials.svg" alt="Icon" />
                            <img src="img/icon_tutorials_blue.svg" alt="Icon" />
                            Tutorials
                        </a>
                        <a class="dropdown-item" href="#">
                            <img src="img/icon_signout.svg" alt="Icon" />
                            <img src="img/icon_signout_blue.svg" alt="Icon" />
                            Signout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--end header-->