<!--begin header nav-->
<section class="header_nav">
    <div class="container">
        <div class="row">
            <ul class="d-flex justify-content-center m-0 p-0 w-100">
                <li>
                    <a href="dashboard.html">Dashboard</a>
                </li>
                <li>
                    <a href="billing.html">Billing</a>
                </li>
                <li>
                    <a href="how_to_use.html">How to use</a>
                </li>
                <li>
                    <a href="rewards.html">Rewards</a>
                </li>
                <li>
                    <a href="support.html">Support</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--end header nav-->
<!--begin help-->
<section class="help">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-9 m-auto">
                <h2 class="s_title text-center">Help</h2>
                <div class="box">
                    <h3 class="title">Quick reference</h3>
                    <ul>
                        <li><a href="#/">How many devices can be connected to the VPN at the same time?</a></li>
                        <li><a href="#/">How do i choose a VPN server location</a></li>
                        <li><a href="#/">Some websites are still blocked</a></li>
                        <li><a href="#/">What is LimeVPN privacy policy?</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h3 class="title mb-0"><a href="#/">Go to FAQ</a></h3>
                </div>
                <div class="box">
                    <ul>
                        <li><a href="#/">Talk to a human</a></li>
                        <li><a href="#/">Chat with our support Team</a></li>
                        <li><a href="#/">Send an email</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h3 class="title">Support Centre</h3>
                    <ul>
                        <li><a href="#/">Find tutorials and troubleshooting guides.</a></li>
                        <li><a href="#/">Go to Support center</a></li>
                    </ul>
                </div>
             </div>
        </div>
    </div>
</section>
<!--end help-->