<!--begin header nav-->
<section class="header_nav">
    <div class="container">
        <div class="row">
            <ul class="d-flex justify-content-center m-0 p-0 w-100">
                <li>
                    <a href="dashboard.html">Dashboard</a>
                </li>
                <li>
                    <a href="billing.html">Billing</a>
                </li>
                <li class="active">
                    <a href="how_to_use.html">How to use</a>
                </li>
                <li>
                    <a href="rewards.html">Rewards</a>
                </li>
                <li>
                    <a href="support.html">Support</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--end header nav-->
<!--begin how to use-->
<section class="how_to_use">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <h2 class="s_title text-center">Downloads and Tutorials</h2>
                <p class="text-center color_grey font_16">Step-by-step guides on how to Download, install and use LimeVPN on all your devices.</p>
                <ul class="how_to_use__list htu_list p-0">
                    <li class="box">
                        <a class="accordion_action" href="#/"><img src="img/logo_windows.svg" alt="Logo" /></a>
                        <div class="htu_list_item__item htu_list_item">
                            <h3 class="title">Tutorials</h3>
                            <div class="htu_tutorials">
                                <ul class="p-0">
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/2123284-how-to-configure-l2tp-on-windows-10">L2TP/IPSEC</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/1892278-how-to-configure-softether-vpn-on-windows">SOFTETHER</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/2948743-how-to-setup-vpn-on-windows-10-using-sstp-protocol">SSTP</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/3205347-how-to-setup-vpn-as-proxy-in-windows">SOCKS</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/1933013-how-to-setup-vpn-connection-on-windows-10-using-pptp-protocol">PPTP</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/2123275-how-to-configure-openvpn-on-windows-10">OPEN VPN</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/2157869-how-to-setup-vpn-connection-on-windows-10-using-ikev2-protocol">IKEV2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!--<li class="box">-->
                        <!--<a class="accordion_action" href="#/"><img src="img/logo_linux.svg" alt="Logo" /></a>-->
                        <!--<div class="htu_list_item__item htu_list_item">-->
                            <!--<h3 class="title">Download Setup</h3>-->
                            <!--<div class="row htu_choose">-->
                                <!--<div class="col-12 col-md-6 htu_choose__item">-->
                                    <!--<h4 class="title">Windows XP and below</h4>-->
                                    <!--<ul>-->
                                        <!--<li>-->
                                            <!--<a href="#/">32bit</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#/">64bit</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                                <!--<div class="col-12 col-md-6 htu_choose__item">-->
                                    <!--<h4 class="title">Windows XP and below</h4>-->
                                    <!--<ul>-->
                                        <!--<li>-->
                                            <!--<a href="#/">32bit</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#/">64bit</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<h3 class="title">Tutorials</h3>-->
                            <!--<div class="htu_tutorials">-->
                                <!--<ul class="p-0">-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows 7 and 8</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows 10 L2TP</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows 10 PPTP (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows XP (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows Vista, 7, 8 (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Surface RT (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows with MediaStreamer </a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="box">-->
                        <!--<a class="accordion_action" href="#/"><img src="img/logo_chrome.svg" alt="Logo" /></a>-->
                        <!--<div class="htu_list_item__item htu_list_item">-->
                            <!--<h3 class="title">Download Setup</h3>-->
                            <!--<div class="row htu_choose">-->
                                <!--<div class="col-12 col-md-6 htu_choose__item">-->
                                    <!--<h4 class="title">Windows XP and below</h4>-->
                                    <!--<ul>-->
                                        <!--<li>-->
                                            <!--<a href="#/">32bit</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#/">64bit</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                                <!--<div class="col-12 col-md-6 htu_choose__item">-->
                                    <!--<h4 class="title">Windows XP and below</h4>-->
                                    <!--<ul>-->
                                        <!--<li>-->
                                            <!--<a href="#/">32bit</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#/">64bit</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<h3 class="title">Tutorials</h3>-->
                            <!--<div class="htu_tutorials">-->
                                <!--<ul class="p-0">-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows 7 and 8</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows 10 L2TP</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows 10 PPTP (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows XP (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows Vista, 7, 8 (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Surface RT (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows with MediaStreamer </a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="box">-->
                        <!--<a class="accordion_action" href="#/"><img src="img/logo_playstation.svg" alt="Logo" /></a>-->
                        <!--<div class="htu_list_item__item htu_list_item">-->
                            <!--<h3 class="title">Download Setup</h3>-->
                            <!--<div class="row htu_choose">-->
                                <!--<div class="col-12 col-md-6 htu_choose__item">-->
                                    <!--<h4 class="title">Windows XP and below</h4>-->
                                    <!--<ul>-->
                                        <!--<li>-->
                                            <!--<a href="#/">32bit</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#/">64bit</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                                <!--<div class="col-12 col-md-6 htu_choose__item">-->
                                    <!--<h4 class="title">Windows XP and below</h4>-->
                                    <!--<ul>-->
                                        <!--<li>-->
                                            <!--<a href="#/">32bit</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#/">64bit</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<h3 class="title">Tutorials</h3>-->
                            <!--<div class="htu_tutorials">-->
                                <!--<ul class="p-0">-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows 7 and 8</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows 10 L2TP</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows 10 PPTP (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows XP (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows Vista, 7, 8 (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Surface RT (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows with MediaStreamer </a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <li class="box">
                        <a class="accordion_action" href="#/"><img src="img/logo_macos.svg" alt="Logo" /></a>
                        <div class="htu_list_item__item htu_list_item">
                            <h3 class="title">Tutorials</h3>
                            <div class="htu_tutorials">
                                <ul class="p-0">
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/1892406-how-to-setup-l2tp-vpn-on-mac-os-x">L2TP/IPSEC</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/3309091-how-to-set-up-softether-vpn-on-mac-os-x">SOFTETHER</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/2467102-how-to-setup-socks5-on-mac-os">SOCKS</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/1892340-how-to-setup-pptp-vpn-on-mac-os-x">PPTP</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/2123248-how-to-configure-openvpn-on-mac">OPEN VPN</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/2157505-how-to-configure-ikev2-on-mac-os-x">IKEV2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="box">
                        <a class="accordion_action" href="#/"><img src="img/logo_android.svg" alt="Logo" /></a>
                        <div class="htu_list_item__item htu_list_item">
                            <h3 class="title">Tutorials</h3>
                            <div class="htu_tutorials">
                                <ul class="p-0">
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/2123036-how-to-configure-l2tp-on-android">L2TP</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/1892579-how-to-setup-vpn-on-android-pptp">PPTP</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/1892595-how-to-configure-openvpn-on-android">OPEN VPN</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://help.limevpn.com/en/articles/2193682-how-to-setup-vpn-on-android-using-ikev2">IKEV2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="box">
                        <a class="accordion_action" href="#/"><img src="img/logo_ios.svg" alt="Logo" /></a>
                        <div class="htu_list_item__item htu_list_item">
                            <h3 class="title">Tutorials</h3>
                            <div class="htu_tutorials">
                                <ul class="p-0">
                                    <li>
                                        <a href="https://help.limevpn.com/en/articles/2123202-how-to-configure-l2tp-on-ios">L2TP/IPSEC</a>
                                    </li>
                                    <li>
                                        <a href="https://help.limevpn.com/en/articles/1892482-how-to-configure-pptp-vpn-connection-on-iphone-o">PPTP</a>
                                    </li>
                                    <li>
                                        <a href="https://help.limevpn.com/en/articles/2123215-how-to-configure-openvpn-on-ios">OPEN VPN</a>
                                    </li>
                                    <li>
                                        <a href="https://help.limevpn.com/en/articles/2610496-how-to-configure-ikev2-on-ios">IKEV2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!--<li class="box">-->
                        <!--<a class="accordion_action" href="#/"><img src="img/logo_modems.svg" alt="Logo" /></a>-->
                        <!--<div class="htu_list_item__item htu_list_item">-->
                            <!--<h3 class="title">Download Setup</h3>-->
                            <!--<div class="row htu_choose">-->
                                <!--<div class="col-12 col-md-6 htu_choose__item">-->
                                    <!--<h4 class="title">Windows XP and below</h4>-->
                                    <!--<ul>-->
                                        <!--<li>-->
                                            <!--<a href="#/">32bit</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#/">64bit</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                                <!--<div class="col-12 col-md-6 htu_choose__item">-->
                                    <!--<h4 class="title">Windows XP and below</h4>-->
                                    <!--<ul>-->
                                        <!--<li>-->
                                            <!--<a href="#/">32bit</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#/">64bit</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<h3 class="title">Tutorials</h3>-->
                            <!--<div class="htu_tutorials">-->
                                <!--<ul class="p-0">-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows 7 and 8</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows 10 L2TP</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows 10 PPTP (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows XP (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows Vista, 7, 8 (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Surface RT (manual setup)</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#/">Windows with MediaStreamer </a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
</section>
<!--end how to use-->