<!--begin header nav-->
<section class="header_nav">
    <div class="container">
        <div class="row">
            <ul class="d-flex justify-content-center m-0 p-0 w-100">
                <li>
                    <a href="dashboard.html">Dashboard</a>
                </li>
                <li>
                    <a href="billing.html">Billing</a>
                </li>
                <li class="active">
                    <a href="how_to_use.html">How to use</a>
                </li>
                <li>
                    <a href="rewards.html">Rewards</a>
                </li>
                <li>
                    <a href="support.html">Support</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--end header nav-->
<!--begin how to use-->
<section class="how_to_use">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <h2 class="s_title text-center">Downloads and Tutorials</h2>
                <p class="text-center color_grey font_16">Step-by-step guides on how to Download, install and use LimeVPN on all your devices.</p>
                <ul class="how_to_use__list htu_list p-0">
                    <li class="box">
                        <a class="accordion_action" href="#/"><img src="img/logo_windows.svg" alt="Logo" /></a>
                        <div class="htu_list_item__item htu_list_item">
                            <h3 class="title">Download Setup</h3>
                            <div class="row htu_choose">
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="title">Tutorials</h3>
                            <div class="htu_tutorials">
                                <ul class="p-0">
                                    <li>
                                        <a href="#/">Windows 7 and 8</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 L2TP</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 PPTP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows XP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows Vista, 7, 8 (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Surface RT (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows with MediaStreamer </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="box">
                        <a class="accordion_action" href="#/"><img src="img/logo_linux.svg" alt="Logo" /></a>
                        <div class="htu_list_item__item htu_list_item">
                            <h3 class="title">Download Setup</h3>
                            <div class="row htu_choose">
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="title">Tutorials</h3>
                            <div class="htu_tutorials">
                                <ul class="p-0">
                                    <li>
                                        <a href="#/">Windows 7 and 8</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 L2TP</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 PPTP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows XP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows Vista, 7, 8 (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Surface RT (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows with MediaStreamer </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="box">
                        <a class="accordion_action" href="#/"><img src="img/logo_chrome.svg" alt="Logo" /></a>
                        <div class="htu_list_item__item htu_list_item">
                            <h3 class="title">Download Setup</h3>
                            <div class="row htu_choose">
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="title">Tutorials</h3>
                            <div class="htu_tutorials">
                                <ul class="p-0">
                                    <li>
                                        <a href="#/">Windows 7 and 8</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 L2TP</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 PPTP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows XP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows Vista, 7, 8 (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Surface RT (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows with MediaStreamer </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="box">
                        <a class="accordion_action" href="#/"><img src="img/logo_playstation.svg" alt="Logo" /></a>
                        <div class="htu_list_item__item htu_list_item">
                            <h3 class="title">Download Setup</h3>
                            <div class="row htu_choose">
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="title">Tutorials</h3>
                            <div class="htu_tutorials">
                                <ul class="p-0">
                                    <li>
                                        <a href="#/">Windows 7 and 8</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 L2TP</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 PPTP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows XP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows Vista, 7, 8 (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Surface RT (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows with MediaStreamer </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="box">
                        <a class="accordion_action" href="#/"><img src="img/logo_macos.svg" alt="Logo" /></a>
                        <div class="htu_list_item__item htu_list_item">
                            <h3 class="title">Download Setup</h3>
                            <div class="row htu_choose">
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="title">Tutorials</h3>
                            <div class="htu_tutorials">
                                <ul class="p-0">
                                    <li>
                                        <a href="#/">Windows 7 and 8</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 L2TP</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 PPTP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows XP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows Vista, 7, 8 (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Surface RT (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows with MediaStreamer </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="box">
                        <a class="accordion_action" href="#/"><img src="img/logo_android.svg" alt="Logo" /></a>
                        <div class="htu_list_item__item htu_list_item">
                            <h3 class="title">Download Setup</h3>
                            <div class="row htu_choose">
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="title">Tutorials</h3>
                            <div class="htu_tutorials">
                                <ul class="p-0">
                                    <li>
                                        <a href="#/">Windows 7 and 8</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 L2TP</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 PPTP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows XP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows Vista, 7, 8 (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Surface RT (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows with MediaStreamer </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="box">
                        <a class="accordion_action" href="#/"><img src="img/logo_ios.svg" alt="Logo" /></a>
                        <div class="htu_list_item__item htu_list_item">
                            <h3 class="title">Download Setup</h3>
                            <div class="row htu_choose">
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="title">Tutorials</h3>
                            <div class="htu_tutorials">
                                <ul class="p-0">
                                    <li>
                                        <a href="#/">Windows 7 and 8</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 L2TP</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 PPTP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows XP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows Vista, 7, 8 (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Surface RT (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows with MediaStreamer </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="box">
                        <a class="accordion_action" href="#/"><img src="img/logo_modems.svg" alt="Logo" /></a>
                        <div class="htu_list_item__item htu_list_item">
                            <h3 class="title">Download Setup</h3>
                            <div class="row htu_choose">
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 htu_choose__item">
                                    <h4 class="title">Windows XP and below</h4>
                                    <ul>
                                        <li>
                                            <a href="#/">32bit</a>
                                        </li>
                                        <li>
                                            <a href="#/">64bit</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="title">Tutorials</h3>
                            <div class="htu_tutorials">
                                <ul class="p-0">
                                    <li>
                                        <a href="#/">Windows 7 and 8</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 L2TP</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows 10 PPTP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows XP (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows Vista, 7, 8 (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Surface RT (manual setup)</a>
                                    </li>
                                    <li>
                                        <a href="#/">Windows with MediaStreamer </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--end how to use-->