<!--begin header nav-->
<section class="header_nav">
    <div class="container">
        <div class="row">
            <ul class="d-flex justify-content-center m-0 p-0 w-100">
                <li>
                    <a href="dashboard.html">Dashboard</a>
                </li>
                <li>
                    <a href="billing.html">Billng</a>
                </li>
                <li>
                    <a href="how_to_use.html">How to use</a>
                </li>
                <li>
                    <a href="rewards.html">Rewards</a>
                </li>
                <li>
                    <a href="support.html">Support</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--end header nav-->
<!--begin network status-->
<section class="network_status">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <h2 class="s_title text-center">Network Status</h2>
            </div>
        </div>
    </div>
</section>
<!--end network status-->