<!--begin header nav-->
<section class="header_nav">
    <div class="container">
        <div class="row">
            <ul class="d-flex justify-content-center m-0 p-0 w-100">
                <li>
                    <a href="dashboard.html">Dashboard</a>
                </li>
                <li>
                    <a href="billing.html">Billing</a>
                </li>
                <li>
                    <a href="how_to_use.html">How to use</a>
                </li>
                <li class="active">
                    <a href="rewards.html">Rewards</a>
                </li>
                <li>
                    <a href="support.html">Support</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--end header nav-->
<!--begin rewards-->
<section class="rewards">
    <div class="container">
        <div class="row rewards__text">
           <div class="col-12 col-md-4 rewards__img">
               <div class="box">
                   <img src="img/img_rewards.svg" alt="Image" />
               </div>
           </div>
            <div class="col-12 col-md-8 rewards__info">
                <h3 class="title">LimeVPN Rewards</h3>
                <p>Invite your friends to join LimeVPN and, for each one who installs LimeVPN, we’ll give you both $50 off in your next bill. Enjoy the best commission rates</p>
                <form>
                    <input type="email" placeholder="Add names or email addresses">
                    <input type="submit" value="Send Invite">
                </form>
            </div>
        </div>
        <div class="row rewards__invite">
            <div class="col-12 col-md-12">
                <div class="box">
                    <h3 class="title text-center">More Ways to invite your friends</h3>
                    <ul class="row p-0">
                        <li class="col-12 col-md-4">
                            <div class="box">
                                <a href="#/">
                                    <img src="img/icon_google_email.svg" alt="Icon" />
                                    Invite your Gmail Contacts
                                </a>
                            </div>
                        </li>
                        <li class="col-12 col-md-4">
                            <div class="box">
                                <a href="#/">
                                    <img src="img/icon_fb.svg" alt="Icon" />
                                    Invite your facebook friends
                                </a>
                            </div>
                        </li>
                        <li class="col-12 col-md-4">
                            <div class="box">
                                <a href="#/">
                                    <img src="img/icon_tw.svg" alt="Icon" />
                                    Invite your facebook friends
                                </a>
                            </div>
                        </li>
                    </ul>
                    <h3 class="title text-center d-none d-md-block d-lg-block">OR</h3>
                    <ul class="row p-0 justify-content-center">
                        <li class="col-12 col-md-4">
                            <div class="box">
                                <a href="#/">
                                    <img src="img/icon_copy.svg" alt="Icon" />
                                    Copy your invite link
                                </a>
                            </div>
                        </li>
                    </ul>
                    <p class="text-center font_16 font-weight-normal m-0">Once you’ve invited friends, you can view the <a href="#/">status of your referrals</a> or visit our
                        <a href="#/">Help Centre</a> if you have any questions.</p>
                </div>
            </div>
        </div>
        <div class="row rewards__stats">
            <div class="col-12 col-md-12">
                <h3 class="title font_20 font-weight-600 color_d_grey">Rewards</h3>
                <div class="box">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Reference No.</th>
                            <th scope="col">Referred to</th>
                            <th scope="col">Date</th>
                            <th scope="col">Reward</th>
                            <th scope="col">Total Credit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>#44RT65</td>
                            <td>Alpha@beta.com</td>
                            <td>10/09/19 <span>(11:12:34)</span></td>
                            <td>$12.43</td>
                            <td class="color_orange"><b>$14.56</b></td>
                        </tr>
                        <tr>
                            <td>#44RT65</td>
                            <td>Alpha@beta.com</td>
                            <td>10/09/19 <span>(11:12:34)</span></td>
                            <td>$12.43</td>
                            <td class="color_orange"><b>$14.56</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end rewards-->