<!--begin signup-->
<section class="signup">
    <div class="row height_100vh">
        <div class="signup__item col-12 col-md-6 d-flex justify-content-center align-items-end flex-column">
            <h1 class="text-right signup__title mb-5">Say goodbye to blocked <br> websites and content</h1>
            <img src="img/img_signup.png" alt="Image" />
        </div>
        <div class="signup__item col-12 col-md-6 d-flex justify-content-center align-items-start flex-column">
            <img class="logo" src="img/logo_limevpn.svg" alt="Logo" />
            <a href="#/">
                <img class="btn_google" src="img/btn_google.png" alt="Google" />
            </a>
            <p class="signup__text font_24 color_grey">Or use your work email to sign in</p>
            <form class="signup__form">
                <label for="signup_email" class="color_blue">
                    Email
                    <input id="signup_email" type="email" placeholder="name@company.com">
                </label>
                <label for="signup_email" class="color_blue">
                    Password
                    <input id="signup_password" type="password" placeholder="**********">
                </label>
                <input class="btn_blue" type="submit" value="Sign In">
            </form>
            <p class="font_20 color_grey">Dont have an account? <a class="color_blue" href="signup.html">Sign up.</a></p>
        </div>
    </div>
</section>
<!--end signup-->