<!--begin header nav-->
<section class="header_nav">
    <div class="container">
        <div class="row">
            <ul class="d-flex justify-content-center m-0 p-0 w-100">
                <li>
                    <a href="dashboard.html">Dashboard</a>
                </li>
                <li>
                    <a href="billing.html">Billing</a>
                </li>
                <li>
                    <a href="how_to_use.html">How to use</a>
                </li>
                <li>
                    <a href="rewards.html">Rewards</a>
                </li>
                <li>
                    <a href="support.html">Support</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--end header nav-->
<!--begin feedback-->
<section class="feedback">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <h2 class="s_title text-center">Submit your feedback</h2>
                <div class="box">
                    <div class="feedback__item feedback_item">
                        <h3 class="title">How was the Speed?</h3>
                        <ul class="d-flex feedback_item__list">
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_1.svg" alt="Icon" />
                                    <img src="img/icon_feedback_1_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_2.svg" alt="Icon" />
                                    <img src="img/icon_feedback_2_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_3.svg" alt="Icon" />
                                    <img src="img/icon_feedback_3_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_4.svg" alt="Icon" />
                                    <img src="img/icon_feedback_4_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_5.svg" alt="Icon" />
                                    <img src="img/icon_feedback_5_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="feedback__item feedback_item">
                        <h3 class="title">Lorem Ipsum dolor sit amet amet, consectetuer adipiscing elit, sed?</h3>
                        <ul class="d-flex feedback_item__list">
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_1.svg" alt="Icon" />
                                    <img src="img/icon_feedback_1_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_2.svg" alt="Icon" />
                                    <img src="img/icon_feedback_2_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_3.svg" alt="Icon" />
                                    <img src="img/icon_feedback_3_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_4.svg" alt="Icon" />
                                    <img src="img/icon_feedback_4_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_5.svg" alt="Icon" />
                                    <img src="img/icon_feedback_5_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="feedback__item feedback_item">
                        <h3 class="title">Lorem Ipsum dolor sit amet amet, consectetuer adipiscing elit, sed?</h3>
                        <ul class="d-flex feedback_item__list">
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_1.svg" alt="Icon" />
                                    <img src="img/icon_feedback_1_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_2.svg" alt="Icon" />
                                    <img src="img/icon_feedback_2_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_3.svg" alt="Icon" />
                                    <img src="img/icon_feedback_3_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_4.svg" alt="Icon" />
                                    <img src="img/icon_feedback_4_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <img src="img/icon_feedback_5.svg" alt="Icon" />
                                    <img src="img/icon_feedback_5_yellow.svg" alt="Icon" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box">
                    <div class="feedback__comment feedback_comment">
                        <textarea placeholder="Comment"></textarea>
                        <input class="btn_blue d-none d-md-block d-lg-block" type="submit" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input class="btn_blue d-block d-md-none d-lg-none" type="submit" value="Submit">
</section>
<!--end feedback-->