<!--begin header nav-->
<section class="header_nav">
    <div class="container">
        <div class="row">
            <ul class="d-flex justify-content-center m-0 p-0 w-100">
                <li>
                    <a href="dashboard.html">Dashboard</a>
                </li>
                <li>
                    <a href="billing.html">Billing</a>
                </li>
                <li>
                    <a href="how_to_use.html">How to use</a>
                </li>
                <li>
                    <a href="rewards.html">Rewards</a>
                </li>
                <li>
                    <a href="support.html">Support</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--end header nav-->
<!--begin tutorials-->
<section class="tutorials">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <h2 class="s_title text-center">Learn how to use VPN</h2>
                <ul class="tutorials__logos p-0 row">
                    <li class="col-6 col-md-3">
                        <a href="#/">
                            <img src="img/logo_windows.svg" alt="Logo" />
                        </a>
                    </li>
                    <li class="col-6 col-md-3">
                        <a href="#/">
                            <img src="img/logo_macos.svg" alt="Logo" />
                        </a>
                    </li>
                    <li class="col-6 col-md-3">
                        <a href="#/">
                            <img src="img/logo_linux.svg" alt="Logo" />
                        </a>
                    </li>
                    <li class="col-6 col-md-3">
                        <a href="#/">
                            <img src="img/logo_android.svg" alt="Logo" />
                        </a>
                    </li>
                    <li class="col-6 col-md-3">
                        <a href="#/">
                            <img src="img/logo_chrome.svg" alt="Logo" />
                        </a>
                    </li>
                    <li class="col-6 col-md-3">
                        <a href="#/">
                            <img src="img/logo_ios.svg" alt="Logo" />
                        </a>
                    </li>
                    <li class="col-6 col-md-3">
                        <a href="#/">
                            <img src="img/logo_playstation.svg" alt="Logo" />
                        </a>
                    </li>
                    <li class="col-6 col-md-3">
                        <a href="#/">
                            <img src="img/logo_modems.svg" alt="Logo" />
                        </a>
                    </li>
                </ul>
                <h3 class="title">Windows Setup Instructions</h3>
                <ul class="tutorials__instructions p-0">
                    <li><a href="#/">L2TP IPSEC</a></li>
                    <li><a href="#/">Softether</a></li>
                    <li><a href="#/">SSTP</a></li>
                    <li><a href="#/">SOCKS5</a></li>
                    <li><a href="#/">PPTP</a></li>
                    <li><a href="#/">OPEN VPN</a></li>
                    <li><a href="#/">IKEv2</a></li>
                </ul>
                <h3 class="title title_how">How to Setup PPTP VPN on Windows</h3>
                <ul class="colums p-0">
                    <li><b>1-</b> Run <b>Rasphone</b></li>
                    <li><b>2-</b> Press <b>Win key + R</b> to open Run window. Enter rasphone command and press OK</li>
                    <li><b>3-</b> Create a new network device by clicking on <b>New</b></li>
                    <li><b>4-</b> Choose Workplace network</li>
                    <li><b>5-</b> In the Internet address, enter any one of the server mentioned under http://network.limevpn.com/</li>
                    <li><b>6-</b> Type in your LimeVPN login email and Password in their respective fields.</li>
                    <li><b>7-</b> Leave Domain blank and click Connect</li>
                    <li><b>8-</b> Wait for the process to finish and at the end you should be connected to the VPN</li>
                </ul>
                <div class="tutorials__more">
                    <a class="font_16 font-weight-600" href="#/">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end tutorials-->